body {
  font-size: 16px;
  background-color: #00e7e7;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
.navbar {
  margin-bottom: 0;
}
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 12px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.75em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#collapsable-nav {
	background-color: #00ff00;
	color: black;
	margin-top: 0;
}
.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
}
#nav-list a {
  font-size: 1.25em;
  color: #000;
  text-align: center;
}
#nav-list a:hover {
  background: #e7e7e7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
/* END HEADER */

#main-content {
	height: 1000px;
	color: white;
	background-color: green;
}